
*{
box-sizing: border-box;
}

header{
    background-color: black;
    padding:30px;
    text-align: center;
    font-size: 35px;
    Color: red ;
}

nav{
   float: left; 
   width:30%;
   height: 300px;
   background:yellow;
   padding:20px;
}

nav ul{
    list-style-type:none;
    padding: 0%;
}

article{
    float:left;
    padding:20;
    width: 70%;
    background-color: blue;
    height: 300px;

}

section{
    content: "";
    display: block;
    clear: both;
}

footer{
    background-color: blueviolet;
    padding:10px;
    text-align:start;
    color:bisque;
}

